/* Master styles*/
body{
    margin: 0px;
    padding: 0px;
   background-image: url(images/AI.jpeg);
   background-size: cover;
   font-style: arial;
   
}

header{
    padding: 10px solid transparent;
}
h1{
    color: blue ;
    float: inline-start;
}
.title{
    text-align: center;
}
.title h1{
    color: black;
    font-size: 70px;
}

.container{
    display: grid;
}
/* Nav styles*/

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-size: 23px;
    background: black;
    opacity: .8;


}
.nav-bar-link{
    border-bottom: 1px solid transparent;
    transition: border-bottom 1s;
}
.nav-bar-link a{
    color:white;
    text-decoration: none;
    transition: color 0.2s;
    border:  2px solid transparent;
    
}
.nav-bar-link:hover{
    border-bottom: 1px solid transparent;

}
.nav-bar-link a:hover{
    color:black;
    background-color: green
}
